.signup-main {
  max-width: 1440px;
  margin: 0 auto;
}
.sign-section {
  display: flex;
}
.sign-left {
  width: 50%;
  /* background-color: rgb(196, 251, 230); */
  border-radius: 10px;
}
.sign-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sign-menu > input {
  width: 65%;
  padding: 12px;
  margin: 10px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  color: black;
  font-size: 18px;
  background: none;
}

.sign-menu p {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: 600;
}

.sign-button {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
.link-btn {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link-btn p {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
p > a {
  font-size: 18px;
}
.sign-left {
  box-shadow: 10px 10px 5px 12px lightblue;
}
.sign-left img {
  width: 100%;
  border-radius: 5px;
}
.error {
  width: 65%;
  margin-top: 20px;
  color: red;
}
